/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Lato";
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1199px) {
  .container {
    width: 92%;
  }
}
@media (max-width: 767px) {
  .container {
    width: 91%;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #222222;
}
.header .header__logo {
  margin: 0 41px 0 0;
}
.header .header__search {
  position: relative;
  left: -5px;
}
.header .header__wrp-logo-form {
  display: flex;
}
.header .header__search-input {
  padding: 18px 25px;
  border: none;
  background: transparent;
}
.header .header__nav-group {
  display: flex;
  justify-content: space-between;
  width: 170px;
  height: 37px;
}
.header .header__button {
  background-color: transparent;
  border: 0;
}
.header .header__button-top {
  margin-top: -16px;
  margin-top: 3px;
}
.header .header__link {
  margin: 0 0 0 33px;
}
@media (max-width: 767px) {
  .header .header__link {
    display: none;
  }
}
.header .counter {
  font-size: 12px;
  line-height: 19px;
  width: 19px;
  height: 19px;
  color: white;
  border-radius: 50%;
  background: #f16d7f;
  position: relative;
  bottom: 38px;
  right: -22px;
}
.header .header__wrp {
  display: flex;
  justify-content: space-between;
  min-height: 75px;
  align-items: center;
}
.header .header__menu {
  display: none;
}
.header .header__basket__table {
  width: 300px;
  height: fit-content;
  background-color: white;
  display: none;
  position: absolute;
  top: 54px;
  right: 82px;
  border-radius: 2px;
}
.header .basket-total-text {
  font-weight: bold;
  text-align: right;
}
.header .basket-total {
  text-align: right;
}
.header .product_id {
  display: none;
}

.brand {
  display: flex;
  margin: 0 0 63px;
}
.brand .brand__title-wrp {
  display: flex;
  align-items: center;
  padding: 0 0 0 80px;
  background-color: #F1E4E6;
  flex-grow: 1;
}
@media (max-width: 1199px) {
  .brand .brand__title-wrp {
    width: 50%;
    height: 368px;
  }
}
.brand .brand__title-wrp::after {
  content: "";
  position: relative;
  width: 12px;
  height: 92px;
  background: #F16D7F;
  left: 60px;
}
.brand .brand__title {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
  color: #222222;
  text-transform: uppercase;
}
@media (max-width: 1199px) {
  .brand .brand__title {
    font-size: 44px;
    line-height: 53px;
    font-weight: 900;
    font-style: normal;
  }
}
@media (max-width: 767px) {
  .brand .brand__title {
    font-size: 38px;
    line-height: 46px;
    font-weight: 900;
    font-style: normal;
  }
}
.brand .brand__sub-title {
  display: block;
  font-size: 32px;
  line-height: 38px;
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 1199px) {
  .brand .brand__sub-title {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    font-style: normal;
  }
}
@media (max-width: 767px) {
  .brand .brand__sub-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
  }
}
.brand .brand__sub-title-pink {
  color: #F1808F;
}
@media (max-width: 1199px) {
  .brand .brand__img {
    width: 50%;
    height: 368px;
  }
}
@media (max-width: 767px) {
  .brand .brand__img {
    display: none;
  }
}

.sales .sales__item {
  width: 360px;
  min-height: 260px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1199px) {
  .sales .sales__item {
    width: 33%;
    min-height: 168px;
  }
}
@media (max-width: 767px) {
  .sales .sales__item {
    width: 100%;
    min-height: 247px;
    padding-bottom: 32px;
    background-position: center;
  }
}
.sales .sales__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .sales .sales__list {
    align-items: center;
  }
}
.sales .sales__item--woman {
  background-image: url("../images/sales-woman.jpg");
  background-repeat: no-repeat;
}
.sales .sales__item--man {
  background-image: url("../images/sales-man.jpg");
  background-repeat: no-repeat;
}
.sales .sales__item--kids {
  background-image: url("../images/sales-kids.jpg");
  background-repeat: no-repeat;
}
.sales .sales__item--accesories {
  margin-top: 30px;
  width: 96.7%;
  min-height: 180px;
  background-image: url("../images/sales-accesories.jpg");
  background-repeat: no-repeat;
}
@media (max-width: 1199px) {
  .sales .sales__item--accesories {
    min-height: 116px;
  }
}
@media (max-width: 767px) {
  .sales .sales__item--accesories {
    padding-top: 57px;
    margin-top: 0;
  }
}
.sales .sales__item-text {
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
.sales .sales__item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #F16D7F;
}

.products {
  text-align: center;
  margin-top: 96px;
  width: 100%;
}
.products .products__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: normal;
  color: #222222;
}
.products .products__text {
  font-size: 14px;
  color: #9F9F9F;
  margin-top: 6px;
}
.products .product__item-button:hover {
  background-color: #F26376;
}
.products .products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 48px;
}
@media (max-width: 1199px) {
  .products .products__list {
    justify-content: space-evenly;
  }
}
.products .products__item {
  width: 360px;
  height: 581px;
  position: relative;
}
@media (max-width: 1199px) {
  .products .products__item {
    width: 359px;
    justify-content: center;
  }
}
.products .products__info-wrp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 26px;
  padding-left: 17px;
  text-align: left;
  height: 117px;
  width: 314px;
}
.products .products__item-title {
  font-size: 13px;
}
.products .products__item-desc {
  color: #5D5D5D;
  font-weight: 300;
  font-size: 14px;
  width: 309px;
}
.products .products__item-price {
  color: #F16D7F;
  font-size: 16px;
  line-height: 19px;
}
.products .products__button {
  border: 1px solid #FF6A6A;
  width: 211px;
  height: 47px;
  margin-top: 48px;
  background-color: white;
  color: #F26376;
  line-height: 19px;
  font-size: 16px;
}
.products .products__button:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}
.products .product__item-button {
  width: 138px;
  min-height: 43px;
  border: 1px solid #FFFFFF;
  background: none;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.products .overlay {
  position: absolute;
  background-image: url("../images/overlay.png");
  top: 0;
  width: 100%;
  min-height: 420px;
}
.products .p_button_photo {
  margin-left: -80px;
}
.products .b_span {
  color: #FFFFFF;
  position: absolute;
  margin-top: 6px;
  margin-left: 15px;
}
.products .product__item-button,
.products .overlay {
  display: none;
}
.products .products__item:hover .overlay,
.products .products__item:hover .product__item-button {
  display: block;
}

.advantages {
  position: relative;
  margin-top: 95px;
  height: 341px;
  background: #222224;
  width: 100%;
}
@media (max-width: 1199px) {
  .advantages {
    height: 610px;
  }
}
.advantages .advantages__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1199px) {
  .advantages .advantages__list {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
.advantages .advantages__item {
  width: 360px;
  height: 134px;
  text-align: center;
  padding-top: 103px;
}
@media (max-width: 1199px) {
  .advantages .advantages__item {
    padding-top: 48px;
  }
}
.advantages .advantages__item-title {
  font-size: 19px;
  line-height: 24px;
  color: #FBFBFB;
  font-weight: normal;
  padding-top: 28px;
}
.advantages .advantages__item-desc {
  font-style: normal;
  font-weight: 300;
  color: #FBFBFB;
  padding-top: 16px;
}

.footer {
  width: 100%;
}
.footer .footer__subscription {
  height: 448px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  background-image: url("../images/photo_subscribe.jpg");
}
@media (max-width: 1199px) {
  .footer .footer__subscription {
    display: block;
    height: 614px;
    background-size: cover;
  }
}
@media (max-width: 767px) {
  .footer .footer__subscription {
    height: 550px;
  }
}
.footer .footer__subscription-info-wrp {
  width: 360px;
  padding-top: 86px;
  text-align: center;
}
@media (max-width: 1199px) {
  .footer .footer__subscription-info-wrp {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 53px;
  }
}
.footer .footer__subscription-text {
  margin-top: 40px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 767px) {
  .footer .footer__subscription-text {
    font-size: 19px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
  }
}
.footer .footer__subscription-sub-text {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  font-style: italic;
}
@media (max-width: 767px) {
  .footer .footer__subscription-sub-text {
    font-size: 19px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
  }
}
.footer .footer__subscription-form-info-wrp {
  width: 350px;
  height: 150px;
  padding-top: 150px;
}
@media (max-width: 1199px) {
  .footer .footer__subscription-form-info-wrp {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 65px;
  }
}
@media (max-width: 767px) {
  .footer .footer__subscription-form-info-wrp {
    padding-top: 60px;
  }
}
.footer .footer__subscription__form-info-title {
  font-size: 24px;
  line-height: 40px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}
@media (max-width: 767px) {
  .footer .footer__subscription__form-info-title {
    font-size: 24px;
    line-height: 37px;
    font-weight: 700;
    font-style: normal;
  }
}
.footer .footer__subscription__form-info-text {
  font-size: 18px;
  line-height: 30px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
.footer .footer__subscription__form {
  margin-top: 32px;
  display: flex;
}
.footer .footer__subscription__form-email {
  height: 39px;
  width: 214px;
  border: none;
  padding: 5px 20px;
  background: #E1E1E1;
  border-radius: 22px 0px 0px 22px;
}
.footer .footer__subscription__form-email-height {
  height: 47px;
}
.footer .footer__subscription-button {
  border-radius: 0px 22px 22px 0px;
  border: none;
  height: 49px;
  width: 100px;
  background: #F16D7F;
  font-size: 14px;
  color: #ffff;
}
.footer .footer__copyright {
  height: 79px;
  width: 100%;
  background-color: #222224;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 767px) {
  .footer .footer__copyright {
    flex-direction: column-reverse;
    height: 143px;
  }
}
.footer .footer__copyright-text {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 767px) {
  .footer .footer__copyright-text {
    margin-top: 40px;
  }
}
.footer .footer__copyright-button {
  margin-top: 24px;
  padding: 0px;
  border: none;
  height: 32px;
  background-color: #FFFFFF;
}
.footer .footer__copyright-button:hover {
  background-color: #F16D7F;
}
.footer .footer__copyright-button:hover .footer__copyright-button-letter {
  fill: #FFFFFF;
}
.footer .footer__copyright-button:hover .footer__copyright-button-bkg {
  fill: #F16D7F;
}
.footer .footer__copyright-text-wrp {
  padding-top: 2px;
}
.footer .footer_copyright-icons-wrp {
  padding-bottom: 19px;
}

.title {
  height: 148px;
  background: #F8F3F4;
}
.title .title_text {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
  padding-top: 59px;
  padding-left: 88px;
  color: #F16D7F;
}
@media (max-width: 1199px) {
  .title .title_text {
    padding-left: 16px;
  }
}
@media (max-width: 767px) {
  .title .title_text {
    padding: 60px 92px;
  }
}

.registration__info {
  display: flex;
  padding-top: 64px;
  padding-bottom: 96px;
  justify-content: space-evenly;
}
@media (max-width: 1199px) {
  .registration__info {
    padding-top: 40px;
  }
}
@media (max-width: 767px) {
  .registration__info {
    display: block;
    padding: 40px 9px 96px 9px;
  }
}
.registration__info .registration {
  width: 360px;
}
@media (max-width: 767px) {
  .registration__info .registration {
    padding: 0px 4px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
.registration__info legend {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}
.registration__info .registration__input {
  padding-top: 20px;
}
.registration__info .registration__input-text {
  border: 1px solid #A4A4A4;
  width: 358px;
  height: 44px;
}
.registration__info .registration__radio-buttons {
  margin-top: 31px;
  margin-bottom: 35px;
}
.registration__info .radio-input {
  display: none;
}
.registration__info .radio-label {
  padding-right: 20px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  position: relative;
  margin: 10px 0px 20px 20px;
}
.registration__info .radio-label::before {
  content: "";
  width: 17px;
  height: 17px;
  left: -20px;
  border: 1px solid;
  border-radius: 50%;
  position: absolute;
}
.registration__info .radio-label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: var(--pink-price);
  position: absolute;
  left: -16.5px;
  top: 0px;
  border-radius: 50%;
  display: none;
}
.registration__info .radio-input:checked + .radio-label::after {
  display: block;
}
.registration__info .registration__text {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-top: 15px;
  margin-bottom: 39px;
}
.registration__info .registration__button {
  width: 167px;
  height: 50px;
  background-color: #F16D7F;
  color: #FFFFFF;
  border: none;
}
.registration__info .registraion__button-text {
  margin-right: 20px;
  text-transform: uppercase;
}
.registration__info .perks {
  width: 610px;
}
@media (max-width: 1199px) {
  .registration__info .perks {
    width: 347px;
  }
}
@media (max-width: 767px) {
  .registration__info .perks {
    margin-top: 40px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
.registration__info .perks__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-transform: uppercase;
}
@media (max-width: 1199px) {
  .registration__info .perks__title {
    font-size: 16px;
    line-height: 19px;
  }
}
.registration__info .perks__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding-top: 22px;
}
@media (max-width: 1199px) {
  .registration__info .perks__text {
    font-size: 16px;
    line-height: 19px;
    padding-top: 32px;
  }
}
.registration__info .perks__list {
  list-style: none;
  padding-top: 5px;
  padding-left: 44px;
}
@media (max-width: 1199px) {
  .registration__info .perks__list {
    width: 300px;
  }
}
@media (max-width: 767px) {
  .registration__info .perks__list {
    width: 300px;
  }
}
.registration__info .perks__list-item {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  position: relative;
  padding-top: 16px;
}
@media (max-width: 1199px) {
  .registration__info .perks__list-item {
    font-size: 16px;
    line-height: 19px;
  }
}
.registration__info .perks__list-item:before {
  content: "";
  width: 20px;
  height: 15px;
  top: 23px;
  left: -40px;
  position: absolute;
  background-image: url("../images/perks_img.svg");
  background-repeat: no-repeat;
  background-size: 20px 15px;
}
@media (max-width: 1199px) {
  .registration__info .perks__list-item:before {
    top: 19px;
  }
}

.cart__info {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 988px;
}
@media (max-width: 1199px) {
  .cart__info {
    height: auto;
    padding: 0px 16px;
  }
}
@media (max-width: 767px) {
  .cart__info {
    display: block;
    padding: 0px 9px;
  }
}

.carts {
  padding-top: 56px;
  width: 652px;
}
@media (max-width: 1199px) {
  .carts {
    width: 734px;
  }
}
@media (max-width: 767px) {
  .carts {
    width: 357px;
    padding-top: 0px;
    padding-top: 0px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.carts__item {
  margin-top: 40px;
  display: flex;
  box-shadow: 12px 12px 21px 7px rgba(0, 0, 0, 0.12);
}
@media (max-width: 767px) {
  .carts__item {
    height: 188px;
  }
}

.carts__item-img {
  width: 262px;
}
@media (max-width: 767px) {
  .carts__item-img {
    width: 143px;
  }
}

.carts__item-info {
  padding: 22px 112px 0px 31px;
  width: 200px;
}
@media (max-width: 1199px) {
  .carts__item-info {
    padding: 22px 205px 0px 31px;
  }
}
@media (max-width: 767px) {
  .carts__item-info {
    padding: 13px 31px 0px 17px;
    width: 140px;
  }
}

.carts__item-info-title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 36px;
}
@media (max-width: 767px) {
  .carts__item-info-title {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 21px;
  }
}

.carts__item-info-text {
  padding-top: 14px;
  color: #575757;
  font-size: 22px;
}
@media (max-width: 767px) {
  .carts__item-info-text {
    font-size: 14px;
    padding-top: 4px;
  }
}

.carts__item-info-sub-text-price {
  padding-left: 3px;
  color: #ef5b70;
}

.carts__item-info-sub-text {
  padding-left: 2px;
  color: #6f6f6e;
}

.carts__item-info__input-amount {
  color: #656565;
  font-size: 18px;
  margin-left: 15px;
  text-align: center;
  width: 43px;
  height: 24px;
  border: 1px solid #EAEAEA;
}
@media (max-width: 767px) {
  .carts__item-info__input-amount {
    width: 23px;
    height: 14px;
    font-size: 10px;
  }
}

.carts__item-button {
  width: 18px;
  height: 18px;
}
@media (max-width: 767px) {
  .carts__item-button {
    width: 10px;
    height: 11px;
  }
}

.carts__item-button-img {
  width: 18px;
  height: 18px;
  padding-top: 28px;
}
@media (max-width: 767px) {
  .carts__item-button-img {
    width: 10px;
    height: 11px;
    padding-top: 17px;
  }
}

.shipping-wrp {
  padding-top: 113px;
}
@media (max-width: 1199px) {
  .shipping-wrp {
    padding-top: 64px;
    display: flex;
    padding-bottom: 128px;
  }
}
@media (max-width: 767px) {
  .shipping-wrp {
    width: fit-content;
    display: block;
    padding-top: 48px;
    padding-bottom: 96px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

legend {
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
}

.shipping__input {
  padding-top: 20px;
}

.shipping__input-text {
  width: 360px;
  height: 45px;
  border: 1px solid #A4A4A4;
}

.shipping__button-quote {
  width: 100px;
  height: 34px;
  margin-top: 23px;
  border: 1px solid #A4A4A4;
  background-color: #FFFFFF;
}

.shipping__button-quote-text {
  font-size: 11px;
  text-transform: uppercase;
  color: #4A4A4A;
}

.shipping__total {
  width: 360px;
  height: 214px;
  margin-top: 57px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: #F5F3F3;
}
@media (max-width: 1199px) {
  .shipping__total {
    margin-top: 37px;
    margin-left: 16px;
  }
}
@media (max-width: 767px) {
  .shipping__total {
    margin-top: 48px;
    margin-left: 0px;
  }
}

.shipping__sub-total-text {
  padding-top: 39px;
  padding-right: 40px;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}

.shipping__sub-total-amount {
  padding-left: 12px;
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  font-style: normal;
  color: #4A4A4A;
}

.shipping__grand-total-text {
  padding-top: 12px;
  padding-right: 40px;
  font-size: 16px;
  line-height: 19px;
  font-weight: lighter;
  font-style: normal;
  color: #222222;
  text-transform: uppercase;
}

.shipping__grand-total-amount {
  padding-left: 12px;
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  font-style: normal;
  color: #f16d99;
}

.shipping__total-button {
  margin-top: 17px;
  margin-right: 27px;
  width: 273px;
  height: 50px;
  font-size: 16px;
  border: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #f16d99;
}

.line {
  margin-top: 21px;
  height: 1px;
  border: none;
  width: 273px;
  background-color: #E2E2E2;
  color: #E2E2E2;
}

.shipping__button {
  text-transform: uppercase;
  border: 1px solid #A4A4A4;
  width: 234px;
  height: 49px;
  background-color: #FFFFFF;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #575757;
}
@media (max-width: 767px) {
  .shipping__button {
    width: 174px;
    height: 32px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    font-style: normal;
  }
}

.shipping__buttons {
  padding-top: 72px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .shipping__buttons {
    padding-top: 30px;
    justify-content: space-between;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}

a:link {
  color: #636363;
  text-decoration: none;
}

a:visited {
  color: #636363;
}

a:hover {
  border-bottom: 1px solid #636363;
  color: #636363;
}

.products__info {
  height: 1312px;
}
.products__info .products__info-carousel {
  height: 777px;
}
.products__info .products__info-carousel-photo {
  height: 724px;
  object-fit: contain;
}
.products__info .products__info__item {
  width: 1141px;
  height: 601px;
  text-align: center;
  padding: 65px 0px;
  border: 1px solid #EAEAEA;
  top: -65px;
  position: relative;
  background: #FFFFFF;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 1199px) {
  .products__info .products__info__item {
    width: 768px;
    height: 601px;
    margin: 0px;
    top: 0px;
  }
}
@media (max-width: 767px) {
  .products__info .products__info__item {
    width: 375px;
    height: 601px;
  }
}
.products__info .products__info__item-title {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 0;
  color: #F16D7F;
  text-transform: uppercase;
}
.products__info .products__info__item-line-first {
  width: 63px;
  height: 3px;
  width: 63px;
  height: 3px;
  margin: 12px 540px;
  background: #EF5B70;
}
@media (max-width: 1199px) {
  .products__info .products__info__item-line-first {
    margin: 12px 352px;
    opacity: 100%;
  }
}
@media (max-width: 767px) {
  .products__info .products__info__item-line-first {
    margin: 12px 155px;
  }
}
.products__info .products__info__item-name {
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  font-style: normal;
  color: #4D4D4D;
  text-transform: uppercase;
}
.products__info .products__info__item-desc {
  width: 534px;
  margin: 48px 292px 32px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #5E5E5E;
}
@media (max-width: 1199px) {
  .products__info .products__info__item-desc {
    margin: 48px 106px 32px;
  }
}
@media (max-width: 767px) {
  .products__info .products__info__item-desc {
    margin: 31px 23px 32px;
    width: 326px;
  }
}
.products__info .products__info__item-price {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  color: #EF5B70;
}
.products__info .products__info__item-line-second {
  width: 641px;
  margin: 65px 250px;
  border: 1px solid #b1b1b166;
  opacity: 0.1;
}
@media (max-width: 1199px) {
  .products__info .products__info__item-line-second {
    margin: 65px 63px;
  }
}
@media (max-width: 767px) {
  .products__info .products__info__item-line-second {
    width: 174px;
    margin: 32px 100px 49px;
  }
}
.products__info .products__info__item-dropdowns {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6F6E6E;
}
.products__info .dropdown__button-text {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #6F6E6E;
}
@media (max-width: 767px) {
  .products__info .dropdown__button-text {
    font-size: 10px;
    line-height: 17px;
    font-weight: 400;
    font-style: normal;
  }
}
.products__info .products__info__item-button {
  width: 211px;
  height: 47px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  margin-top: 17px;
  color: #F26376;
  padding: 14px 56px 8px 23px;
  border: 1px solid #FF6A6A;
  background-color: #FFFFFF;
}
@media (max-width: 767px) {
  .products__info .products__info__item-button {
    margin-top: 64px;
  }
}
.products__info .products__info__item-button-photo {
  position: relative;
  bottom: 2px;
  left: -7px;
}
.products__info .products__info__item-button-span {
  position: relative;
  bottom: 10px;
  right: -9px;
}

.product__title {
  height: 148px;
  background: #F8F3F4;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .product__title {
    display: block;
  }
}
.product__title .product__title-text {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
  padding: 59px;
  color: #F16D7F;
}
@media (max-width: 767px) {
  .product__title .product__title-text {
    padding: 24px 101px 0px;
  }
}
.product__title .product__title-nav {
  padding: 65px 16px;
}
@media (max-width: 767px) {
  .product__title .product__title-nav {
    padding: 32px 80px 0px;
  }
}
.product__title .breadcrumb-text {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

.proposed_products {
  text-align: center;
}
@media (max-width: 767px) {
  .proposed_products {
    height: 1285px;
  }
}
.proposed_products .products__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: normal;
  color: #222222;
}
.proposed_products .products__text {
  font-size: 14px;
  color: #9F9F9F;
  margin-top: 6px;
}
.proposed_products .products__list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 129px;
  margin-bottom: 129px;
}
@media (max-width: 1199px) {
  .proposed_products .products__list {
    justify-content: space-evenly;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .proposed_products .products__list {
    width: 100%;
  }
}
.proposed_products .item-none {
  display: block;
}
@media (max-width: 1199px) {
  .proposed_products .item-none {
    display: none;
  }
}
.proposed_products .products__item {
  width: 360px;
  height: 581px;
  background: #F8F8F8;
}
@media (max-width: 1199px) {
  .proposed_products .products__item {
    width: 359px;
    justify-content: center;
  }
}
.proposed_products .products__info-wrp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 26px;
  padding-left: 17px;
  text-align: left;
  height: 117px;
  width: 314px;
}
@media (max-width: 767px) {
  .proposed_products .products__item-img {
    width: 358px;
    height: 417px;
  }
}
.proposed_products .products__item-title {
  font-size: 13px;
}
.proposed_products .products__item-desc {
  color: #5D5D5D;
  font-weight: 300;
  font-size: 14px;
  padding-top: 13px;
  width: 309px;
}
.proposed_products .products__item-price {
  color: #F16D7F;
  font-size: 16px;
  line-height: 19px;
  padding-top: 18px;
}
.proposed_products .products__button {
  border: 1px solid #FF6A6A;
  width: 211px;
  height: 47px;
  margin-top: 48px;
  background-color: white;
  color: #F26376;
  line-height: 19px;
  font-size: 16px;
}
.proposed_products .products__button:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}
.proposed_products .product__item-button {
  width: 138px;
  min-height: 43px;
  border: 1px solid #FFFFFF;
  background: none;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.proposed_products .overlay {
  position: absolute;
  background-image: url("../images/overlay.png");
  top: 0;
  width: 100%;
  min-height: 420px;
}
.proposed_products .p_button_photo {
  margin-left: -80px;
}
.proposed_products .b_span {
  color: #FFFFFF;
  position: absolute;
  margin-top: 6px;
  margin-left: 15px;
}
.proposed_products .product__item-button,
.proposed_products .overlay {
  display: none;
}
.proposed_products .products__item:hover .overlay,
.proposed_products .products__item:hover .product__item-button {
  display: block;
}

.catalog {
  margin-top: 50px;
  margin-bottom: 96px;
}

.catalog__settings {
  padding: 51px 530px 64px 97px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1199px) {
  .catalog__settings {
    padding: 24px 16px 40px;
  }
}

.catalog__settings__filter-text {
  padding-right: 11px;
  text-transform: uppercase;
  display: block;
}
@media (max-width: 767px) {
  .catalog__settings__filter-text {
    display: none;
  }
}

.catalog__settings-text {
  padding-right: 11px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

.catalog__settings-image {
  width: 15px;
  height: 10px;
}

.catalog__settings__dropdowns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown__button-text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6F6E6E;
  text-transform: uppercase;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 48px;
}
@media (max-width: 1199px) {
  .catalog__list {
    padding-bottom: 40px;
  }
}

.products__item {
  width: 360px;
  height: 581px;
  position: relative;
}
@media (max-width: 1199px) {
  .products__item {
    width: 359px;
    justify-content: center;
  }
}

.item-none {
  display: block;
}
@media (max-width: 1199px) {
  .item-none {
    display: none;
  }
}

.products__info-wrp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 26px;
  padding-left: 17px;
  text-align: left;
  height: 117px;
  width: 314px;
}

.products__item-title {
  font-size: 13px;
}

.products__item-desc {
  color: #5D5D5D;
  font-weight: 300;
  font-size: 14px;
  width: 309px;
}

.products__item-price {
  color: #F16D7F;
  font-size: 16px;
  line-height: 19px;
}

.products__button {
  border: 1px solid #FF6A6A;
  width: 211px;
  height: 47px;
  margin-top: 48px;
  background-color: white;
  color: #F26376;
  line-height: 19px;
  font-size: 16px;
}

.products__button:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}

.product__item-button {
  width: 138px;
  min-height: 43px;
  border: 1px solid #FFFFFF;
  background: none;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay {
  position: absolute;
  background-image: url("../images/overlay.png");
  top: 0;
  width: 100%;
  min-height: 420px;
}

.p_button_photo {
  margin-left: -80px;
}

.b_span {
  color: #FFFFFF;
  position: absolute;
  margin-top: 6px;
  margin-left: 15px;
}

.product__item-button,
.overlay {
  display: none;
}

.products__item:hover .overlay,
.products__item:hover .product__item-button {
  display: block;
}

.page-link-img {
  transform: scale(-1, 1);
}

.catalog__pagination {
  position: relative;
  margin-bottom: 96px;
}
@media (max-width: 1199px) {
  .catalog__pagination {
    margin-bottom: 63px;
  }
}

@media (max-width: 767px) {
  .catalog__settings__filter-image {
    width: 37px;
    height: 25px;
  }
}

/*# sourceMappingURL=style.css.map */