$black: #222222;
$pink-bkg: #F1E4E6;
$pink-text: #F1808F;
$pink-price: #F16D7F;
$grey-text: #9F9F9F;
$darkgrey-text: #5D5D5D;
$pink-buttont-text: #F26376;

$tablet-width: 1199px;
$mobile-width: 767px;
