.header {
    
    display: flex;
    justify-content: space-between;
    background-color: $black;

    .header__logo {
        margin: 0 41px 0 0;
    }

    .header__search{
        position: relative;
        left: -5px;
    }

    .header__wrp-logo-form{
        display: flex;
    }
    .header__search-input{
        padding: 18px 25px;
        border: none;
        // outline: 1px solid black;
        background: transparent;
    }
    .header__nav-group{
        display: flex;
        justify-content: space-between;
        width: 170px;
        height: 37px;
    }
    .header__button{
        background-color: transparent;
        border: 0;
    }
    .header__button-top{
        margin-top: -16px;
        margin-top: 3px;
    }

    .header__link{
        margin: 0 0 0 33px;
        @include mobile{
            display: none;
        }
    }
    .counter{
        font-size: 12px;
        line-height: 19px;
        width: 19px;
        height: 19px;
        color:white;
        border-radius: 50%;
        background: rgb(241, 109,127);
        position: relative;
        bottom: 38px;
        right: -22px;
    }

    .header__wrp{
        display: flex;
        justify-content: space-between;
        min-height: 75px;
        align-items: center;
    }
    
    .header__menu {
        display: none;
    }

    .header__basket__table{
        
        width: 300px;
        height: fit-content;
        background-color: rgb(255, 255, 255);
        display: none;
        position: absolute;
        top: 54px;
        right: 82px;
        border-radius: 2px;
    }

    .basket-total-text{
        font-weight: bold;
        text-align: right;
    }
    .basket-total{
        text-align: right;
    }
    .product_id{
        display: none;
    }
}

// @media(max-width: $mobile-width){
//     .header__link{
//         display: none ;
//     }
// }








