.title{
    
    height: 148px;
    background: #F8F3F4;

    .title_text{
        text-transform: uppercase;
        font-size: 24px;
        line-height: 29px;
        padding-top: 59px;
        padding-left: 88px;
        color: $pink-price;
    }
}