.registration__info
{
    display: flex;
    padding-top: 64px;
    padding-bottom: 96px;
    justify-content: space-evenly;

    @include tablet{
        padding-top: 40px;
    }
    @include mobile{
        display: block;
        padding: 40px 9px 96px 9px;
    }
    .registration{
        width: 360px;
        @include mobile{
            padding: 0px 4px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    
    legend{
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #222222;
    }
    .registration__input{
        padding-top: 20px;
    }
    .registration__input-text{
        border: 1px solid #A4A4A4;
        width: 358px;
        height: 44px;
    }
    .registration__radio-buttons{
        margin-top: 31px;
        margin-bottom: 35px;
    }
    .radio-input{
        display: none;
    }
    .radio-label{
        padding-right: 20px;
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
        color: #000000;
        position: relative;
        margin: 10px 0px 20px 20px;
    }
    .radio-label::before{
        content: '';
        width: 17px;
        height: 17px;
        left: -20px;
        border: 1px solid;
        border-radius: 50%;
        position: absolute;
    }
    .radio-label:after{
        content: '';
        width: 12px;
        height: 12px;
        background: var(--pink-price);
        position: absolute;
        left: -16.5px;
        top: 0px;
        border-radius: 50%;
        display: none;
    }
    .radio-input:checked+.radio-label::after{
        display: block;
    }
    .registration__text{
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        color: #B1B1B1;
        margin-top: 15px;
        margin-bottom: 39px;    
    }
    
    .registration__button{
        width: 167px;
        height: 50px;
        background-color: $pink-price;
        color: #FFFFFF;
        border: none;
    }
    .registraion__button-text {
        margin-right: 20px;
        text-transform: uppercase;
    }

    .perks{
        width: 610px;
        @include tablet{
            width: 347px;
        }
        @include mobile{
            margin-top: 40px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }

    }
    .perks__title {
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        text-transform: uppercase;

        @include tablet{
            font-size: 16px;
            line-height: 19px;
        }
    }
    .perks__text {
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        padding-top: 22px;
        @include tablet{
            font-size: 16px;
            line-height: 19px;
            padding-top: 32px;
        }
    }
    .perks__list {
        list-style: none;
        padding-top: 5px;
        padding-left: 44px;
        @include tablet{
            width: 300px;
        }
        @include mobile{
            width: 300px;
        }
    }
    .perks__list-item {
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        position: relative;
        padding-top: 16px;
        @include tablet{
            font-size: 16px;
            line-height: 19px;
        }
    }
    
    .perks__list-item:before{
        content: '';
        width: 20px;
        height: 15px;
        top: 23px;
        left: -40px;
        position: absolute;
        background-image: url('../images/perks_img.svg');
        background-repeat: no-repeat;
        background-size: 20px 15px;

        @include tablet{
            top: 19px;
        }
    }
}

